<div class="home">
  <marquee class="homeh1">Welcome To Iqbal Telecom</marquee>
  <h1>In Process</h1>
  <div><%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn" %></div>
</div>
