<div class="carts-show">
	<%# if @order_items.size>0 %>
	<% @order_items.each do |item| %>				
	<div class="cart">
		<div class="cart-img"></div>
		<div class="cart-cont">
			<h2><%= item.buym.title %></h2>
			<h3>Price: 29999.00</h3>
			<h3>Deliver by Thu Nov 17</h3>
			<div class="cart-cont-btns">
				<h3>Save for later</h3>
				<h3><%= link_to "Remove", item, data: {turbo_method: :delete} %></h3>
				<h3>Buy this now</h3>
			</div>
		</div>
	</div>
	<% end %>	
	<%# end %>
	<div class="cart-btns">
		<h3>Total: 29999.00</h3>
		<h3>Place order</h3>
	</div>
</div>