<div class="carts-show">
	<div class="cart">
		<div class="cart-img"></div>
		<div class="cart-cont">
			<h2>Hello this is my first title</h2>
			<h3>Price: 29999.00</h3>
			<h3>Deliver by Thu Nov 17</h3>
			<div class="cart-cont-btns">
				<h3>Save for later</h3>
				<h3>Remove</h3>
				<h3>Buy this now</h3>
			</div>
		</div>
		<div class="cart-btns">
			<h3>Total: 29999.00</h3>
			<h3>Place order</h3>
		</div>
	</div>
</div>