@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@300;400;500;700&family=Oswald&family=Roboto&family=Roboto+Condensed:wght@700&family=Rubik+Bubbles&display=swap');
.home{
	height: 100vh;
}
.marquee{
	height: 8%;
	background-color: black;
	color: white;
	/*border: 2px solid red;*/
	padding-top: 20px;
}
.marquee h1{
	font-weight: bolder;
	text-align: center;
	/*margin-top: 2rem;*/
}
.home-intro{
	/*border: 2px solid red;*/
	display: flex;
	margin-top: 20px;
	height: 75%;
	width: 80%;
	margin: auto;
	margin-top: 3%;
}
.mobile-img{
	border: 5px solid black;
	width: 50%;
}
.mobile-content{
	border: 5px solid black;
  border-right: none;
	text-align: center;
	width: 50%;
	padding-top: 15%;
}
.mobile-content h1{
	/*border: 2px solid red;*/
	font-size: 80px;
	font-family: 'Roboto Condensed', sans-serif;
}
.mobile-content h2{
	/*border: 2px solid red;*/
	font-size: 50px;
	font-family: 'Roboto Condensed', sans-serif;
}
.home-mobile2-img{
	/*border: 2px solid red;*/
	height: 100%;
	width: 80%;
	margin-left: 10%;
}

.home-btns{
	margin-top: 20%;
	/*border: 2px solid red;*/
	display: flex;
	justify-content: space-evenly;
}
.home-btns .home-btn{
	/*border: 3px solid black;*/
	border-radius: 15px;
	padding: 10px;
	font-size: 30px;
	color: white;
	background-color: black;
	border: none;
	transition: color 1s;
	text-decoration: none;
}
.home-btns .home-btn:hover{
	/*background-color: yellow;*/
	color: yellow;
}
.sign-out-btn{
	color: white;
	text-decoration: none;
	font-size: 10px;
}


/* contact us page */

.contact-us{
	background-color: black;
	margin-top: 50px;
	padding: 5%;
	width: 100%;
	display: flex;
}
.contact-cont{
	width: 50%;
	/*border: 2px solid red;*/
	color: white;
	padding: 50px;
	line-height: 50px;
	display: flex;
}
.contact-cont .details{
	width: 60%;
}
.contact-cont h1{
	margin-bottom: 2rem;
}
.contact-cont .nums{
	display: flex;
	font-size: 28px;
}
.contact-cont .nums .num{
	color: red;
}
.contact-map{
	width: 50%;
}
.contact-map iframe{
	width: 90%;
	height: 90%;
	margin-top: 2rem;

}
.contact-cont i{
	font-size: 35px;
	margin-left: 20px;
}



/**:hover { 
  outline:2px blue solid;
} */



@media only screen and (max-width: 480px) {
	.home{
		height: 100vh;
	}
	.marquee{
		height: 8%;
	}
	.marquee h1{
		padding-top: 5px;
		font-size: 20px;
	}
	.home-intro{
		flex-direction: column;
		height: 71%;
		margin-top: 15%;
	}
	.mobile-img{
		width: 100%;
		/*margin-top: 20px;*/
/*		box-shadow: 10px 10px 33px -3px rgba(0,0,0,0.75);*/
		box-shadow: 10px 10px 18px -8px rgba(0,0,0,1);
		border: none;
	}
	.home-mobile2-img{
		margin-left: 10%;
		width: 80%;
	}
	.mobile-content{
		width: 100%;
    border: none;
/*    background-color: yellow;*/
		margin-bottom: 40px;
/*    box-shadow: 10px 10px 33px -3px rgba(0,0,0,0.75);*/
    box-shadow: 10px 10px 18px -8px rgba(0,0,0,1);
	}
	.mobile-content h1{
		font-size: 30px;
		font-weight: bolder;
	}
    .mobile-content h2{
		font-size: 25px;
	}
	.mobile-content h1::first-letter{
		color: red;
	}
	.mobile-content .ht{
  	color: red;
  }
	.home-btns{
		margin-top: 10%;
	}
	.home-btns .home-btn{
		font-size: 16px;
		padding: 7px;
		margin-bottom: 20px;
		border: none;
		border-radius: 10px;
		background-color: white;
		color: black;
/*		color: red;*/
		font-weight: bolder;
/*		background-color: yellow;*/
/*		color: white;*/
	}

	.contact-us{
		flex-direction: column;
		/*border: 2px solid red;*/
		padding: 0;
		margin: 0;
	}
	.contact-cont{
		font-size: 10px;
		flex-direction: column;
		width: 100%;
		padding: 0;
		margin: 0;
		line-height: 2rem;
	}
	.contact-cont .details{
		/*text-align: center;*/
		width: 80%;
		margin: auto;
		/*border: 2px solid red;*/
		margin-top: 40px;
		/*line-height: 1rem;*/
	}

	.contact-cont .nums{
		margin-top: -5px;
		margin-bottom: 2px;
	  display: flex;
	  font-size: 20px;
	  /*border: 2px solid red;*/
  }
  .contact-cont .details h3{
  	font-size: 20px;
  }
  .contact-cont .details h2{
  	font-size: 20px;
  }
	.contact-cont .details h1{
		/*border: 2px solid red;*/
		margin-bottom: 1rem;
		font-size: 30px;
	}
	.social-media{
		width: 80%;
		margin: auto;
		/*border: 2px solid red;*/
		margin-top: 2rem;
	}
	.social-media div{
		display: flex;
		justify-content: space-between;
	}
	.social-media h1{
		font-size: 30px;
	}
	.contact-cont i{
		margin-left: 0 ;
	}
	.contact-map{
		width: 80%;
		margin: auto;

	}
	.contact-map iframe{
		width: 100%;
	}
}
