.buy-index{
	border: 5px solid black;
	/*height: 100vh;*/
}
.buy-home-links{
	background-color: black;
	height: 70px;
	padding-top: 5px;
	display: flex;
/*	border: 2px solid red;*/
	justify-content: center;
}
.buy-home-link{
	text-decoration: none;
	color: white;
	font-size: 40px;
	font-weight: bolder;
	background-color: black;
	padding: 0;
}
.buy-search{
/*	border: 2px solid red;*/
	margin-left: 60px;
	margin-top: 15px;
}
.gocart-btn{
/*		border: 2px solid red;*/
	text-decoration: none;
	color: black;
	font-size: 40px;
	padding-left: 150px;
}
.buy-index .buy-mobile{
	margin: auto;
	width: 90%;
	height: 80%;
	display: flex;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.buy-mobile .buy-card{
	border: 3px solid black;
	width: 450px;
	height: 700px;
	margin: auto;
	text-align: center;
	background-color: #e0e0e0;
	background-color: #EEEEEE;

}
.buy-mobile .buy-card .card-img{
	width: 80%;
	height: 450px;
	background-color: springgreen;
	margin: auto;
	margin-top: 5%;
/*	background-image: url(https://images.unsplash.com/photo-1589492477829-5e65395b66cc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fG1vYmlsZSUyMHBob25lfGVufDB8fDB8fA%3D%3D&auto=format);*/
/*	background-image: url(https://images.unsplash.com/photo-1607027340850-44448bd87dcb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjI3fHxtb2JpbGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);*/
	background-image: url(https://images.unsplash.com/photo-1423784346385-c1d4dac9893a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fG1vYmlsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
	
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.buy-mobile .buy-card .card-cont{
	font-size: 20px;
	line-height: 1.5rem;
}
.buy-mobile .buy-card .card-titles{
	/*border: 2px solid red;*/
	text-decoration: none;
	margin-bottom: 5px;
	padding: 0px 20px 0px 20px;

}
.buy-mobile .buy-card .card-title{
	/*border: 2px solid red;*/
	text-decoration: none;
	color: black;
/*	font-size: 15px;*/
}
.buy-mobile .buy-card .card-price{
	/*border: 2px solid black;*/
	font-size: 25px;
	font-weight: bolder;
	margin-bottom: 15px;
}
.buy-mobile .buy-card .card-btns{
/*	border: 2px solid red;*/
	height: 45px;
	display: flex;
	justify-content: space-between;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.buy-mobile .buy-card .card-cart-btn{
	border: 4px solid black;
	padding: 7px 30px 7px 30px;
	text-decoration: none;
	border-radius: 8px;
	color: black;
	font-weight: bolder;
}

.buy-mobile .buy-card .card-buy-btn{
	padding: 7px 45px 0px 45px;
	text-decoration: none;
	border-radius: 8px;
	color: white;
	font-weight: bolder;
	background-color: black;
	border: 2px solid black;
}

.buy-mobile .buy-card .card-edit-btn{
	border: 4px solid black;
	padding: 7px 65px 0px 65px;
	text-decoration: none;
	border-radius: 8px;
	color: black;
	font-weight: bolder;
}
.buy-mobile .buy-card .card-delete-btn{
/*	border: 4px solid black;*/
	padding: 9px 55px 0px 55px;
	text-decoration: none;
	border-radius: 8px;
	color: white;
	font-weight: bolder;
	background-color: red;
}

@media only screen and (max-width: 480px) {
	.buy-index{
		width: 100%;
		border: 5px solid black;
	}
	.buy-home-links{
		padding-top: 7px;
		height: 50px;
		justify-content: space-between;
	        padding-left: 10px;
	        padding-right: 10px;
	}
	.buy-home-link{
		font-size: 20px;
	}
	.buy-search{
	        margin-left: 0;
	        margin-top: 0;
    }
	.buy-search-field{
		width: 120px;
	}
	.buy-search-submit{
	}
	.gocart-btn{
		text-decoration: none;
		color: black;
		font-size: 20px;
		padding-left: 30px;
	}
	.buy-index .buy-mobile{
		border: none;
		width: 100%;
		margin-top: 0px;
		padding: 0;
		padding-bottom: 20px;
/*		border: 2px solid red;*/
	}
	.buy-col{
		width: 100%;
		border: none;
		height: 100%;
	}
	.buy-mobile .buy-card{
		width: 90%;
		height: 70%;
		margin-bottom: 10%;
                border: none;
		box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
		padding-bottom: 0;
	}
	.buy-mobile .buy-card .card-img{
		margin: 0;
		width: 90%;
		margin: auto;
		margin-top: 10px;
		height: 300px;
		background-position: center;
		margin-bottom: 10px;
	}
	.buy-mobile .buy-card .card-cont{
		font-size: 15px;
		line-height: 18px;
	}
	.buy-mobile .buy-card .card-price{
		font-size: 20px;
		margin-bottom: 20px;
		margin-top: 15px;
	}
	.card-btns{
		display: flex;
		height: 40px;
		margin-top: 5px;
	}
	.buy-mobile .buy-card .card-cart-btn{
		padding: 8px 15px 5px 15px;
		font-size: 17px;
		height: 40px;
	}
	.buy-mobile .buy-card .card-buy-btn{
		height: 40px;
		border: none;
		padding: 12px 25px 10px 25px;
		font-size: 17px;
	}
	.buy-mobile .buy-card .card-edit-btn{
		padding: 7px 45px 5px 45px;
		font-size: 17px;
		height: 40px;
	}
	.buy-mobile .buy-card .card-delete-btn{
		padding: 12px 35px 5px 35px;
		font-size: 17px;
		border: none;
		height: 40px;
	}
}