.buym-show{
	border: 5px solid black;
	height: 100vh;
}
.buym-show-mobile{
	height: 80%;
	width: 60%;
	display: flex;
	margin: auto;
	margin-top: 3rem;
}
.show-mobile-img{
	width: 50%;
	/*border: 5px solid black;*/
	height: 100%;
	background-image: url(https://images.unsplash.com/photo-1605236453806-6ff36851218e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fG1vYmlsZSUyMHBob25lfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.show-cont{
	border: 5px solid black;
	border-left: none;
	height: 100%;
	width: 50%;
	padding: 50px;
}
.show-cont .mobile-title{
	font-size: 40px;
	font-weight: bolder;
	line-height: 50px;
}
.show-cont .show-btns{
	/*border: 2px solid red;*/
	text-align: center;
}
.show-cont .show-btns .show-cart-btn{
	border: 4px solid black;
	padding: 15px 40px 15px 40px;
	/*margin-right: 15px;*/
	font-weight: bolder;
	font-size: 25px;
	text-decoration: none;
	border-radius: 10px;
	color: black;
}
.show-cont .show-btns .show-buy-btn{
	border: 4px solid black;
	padding: 15px 60px 15px 60px;
	background-color: black;
	color: white;
	font-weight: bolder;
	font-size: 25px;
	text-decoration: none;
	border-radius: 10px;
}
.show-cont-box{
	/*border: 2px solid red;*/
	margin-top: 20px;
	font-size: 25px;
}
.show-cont-price{
	font-size: 40px;
	margin-top: 20px;
}
.show-cont-desc{
	/*border: 2px solid red;*/
	margin-top: 40px;
}
.show-cont-delivery{
	/*border: 2px solid red;*/
	margin-bottom: 50px;
	margin-top: 20px;
}
@media only screen and (max-width: 480px) {
	.buym-show-mobile{
		flex-direction: column;
		border: 4px solid black;
		height: 80%;
		width: 90%;
		margin-top: 2rem;
	}
	.show-cont{
		flex-direction: column;
		border: none;
		/*border: 5px solid black;*/
		width: 100%;
		height: 50%;
		padding: 0;
		padding-left: 10px;
		padding-right: 10px;
		margin: 0;
	}
    .buym-show-links{
    	display: block;
    	text-align: center;
    }
    .show-mobile-img{
    	width: 100%;
    	height: 50%;
    	border: 2px solid black;
    	background-repeat: no-repeat;
	    background-position: center;
	    background-size: cover;
    }

    .show-cont .mobile-title{
    	font-size: 20px;
    	line-height: 20px;
    	margin: 0;
    	margin-top: 20px;
    }
    .show-cont-price{
    	font-size: 20px;
    	margin-top: 5px;
    }
    .show-cont-box{
    	font-size: 15px;
    	margin-top: 5px;
    }
    .show-cont-desc{
    	font-size: 10px;
    	/*display: none;*/
    	margin: 0;
    	padding: 0;
    }
    .show-cont-delivery{
    	font-size: 10px;
    	margin: 0;
    	margin-top: -1rem;
    }
    .show-cont .show-btns{
    	margin-top: 10px;
    	display: flex;
    	justify-content: space-between;
    }
    .show-cont .show-btns .show-cart-btn{
       padding: 3px 20px 3px 20px;
       font-size: 15px;
       border-radius: 5px;
    }
    .show-cont .show-btns .show-buy-btn{
       padding: 3px 30px 3px 30px;
       font-size: 15px;
       border-radius: 5px;
    }
}
