.user-edit{
	border: 5px solid black;
	padding-left: 5px;
	padding-right: 5px;
	width: 60%;
	margin: auto;
	margin-top: 10%;
}
.user-edit-submit{
	border: 2px solid black;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 20px;
	border-radius: 10px;
	background-color: white;
}
.user-edit-form{
}
.user-edit-avatar{
}
@media only screen and (max-width: 480px) {
	.user-edit{
		width: 90%;
		margin-top: 3%;
	}
	.user-edit-avatar{
		text-align: center;
	}
	.form-group{

	}
	.user-edit-submits{
		text-align: center;
	}
}
