.carts-show{
	border: 5px solid black;
	width: 80%;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 2%;
}
.cart-backs{
	padding-top: 2%;
}
.cart-back{
	text-decoration: none;
	color: white;
	font-size: 50px;
	padding: 5px 45px;
	margin-left: 270px;
	margin-left: 10%;
	background-color: black;
	border-radius: 8px;
}
.cart{
	width: 90%;
	margin: auto;
	margin-top: 4%;
	margin-bottom: 4%;
	height: 30%;
	display: flex;
    box-shadow: 10px 10px 18px -8px rgba(0,0,0,1);
}
.cart-img{
	background-image: url(https://images.unsplash.com/photo-1605236453806-6ff36851218e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fG1vYmlsZSUyMHBob25lfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 30%;
}
.cart-cont{
	width: 70%;
	padding-left: 2%;
	padding-top: 2%;
}	
.cart-cont-btns h3:last-child{
	background-color: red;
	border: none;
	padding-top: 4px;
}
.cart-remove-btn{
	text-decoration: none;
	color: white;
}
.cart-cont-btns{
	display: flex;
}
.cart-cont-btns h3{
	margin-right: 5%;
	margin-top: 3%;
	border: 3px solid black;
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
}
.cart-btns{
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	text-align: center;
}
.cart-btns h3{
	margin-right: 5%;
	border: 3px solid black;
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
}
@media only screen and (max-width: 480px) {
	.carts-show{
		width: 90%;
	}
	.cart-backs{
		padding-top: 1%;
	}
	.cart-back{
		text-decoration: none;
		color: white;
		font-size: 30px;
        padding: 5px 50px;
		margin-left: 5%;
		background-color: black;
		border-radius: 8px;
	}
	.cart{
		width: 95%;
		flex-direction: column;
		height: 70%;
		margin-bottom: 10%;
	}
	.cart-img{
        height: 250px;
		width: 100%;
	}
	.cart-cont{
		width: 100%;
	}
	.cart-cont-btns{
	}
	.cart-cont-btns h3{
		font-size: 14px;
		font-weight: bold;
	}
	.cart-cont-btns h3:nth-child(2){
		padding: 5px 5px 5px 5px;
	}
	.cart-cont-btns h3:nth-child(1){
		padding: 5px 5px 5px 5px;
	}
	.cart-cont-btns h3:last-child{
		text-decoration: none;
		color: black;
		background-color: red;
		border: none;
		padding: 8px 5px 5px 5px;
	}
	.cart-remove-btn{
		text-decoration: none;
		color: white;
		padding: 5px 5px 5px 5px;
	}
	.cart-btns{
		font-size: 10px;
		background-color: whitesmoke;
		padding-left: 12px;
		padding-top: 15px;
		box-shadow: 0px -14px 15px -10px rgba(0,0,0,0.34);
	}
	.cart-btns h3{
		font-size: 20px;
	}
}