.carts-show{
	border: 5px solid black;
	width: 70%;
	margin: auto;
	height: 80vh;
	margin-top: 5%;
}
.cart{
	width: 80%;
	margin: auto;
	margin-top: 4%;
	height: 30%;
	display: flex;
    box-shadow: 10px 10px 18px -8px rgba(0,0,0,1);
}
.cart-img{
	background-image: url(https://images.unsplash.com/photo-1605236453806-6ff36851218e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fG1vYmlsZSUyMHBob25lfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 30%;
/*	border: 2px solid red;*/
}
.cart-cont{
/*	border: 2px solid red;*/
	width: 70%;
	padding-left: 2%;
	padding-top: 2%;
}
.cart-cont-btns{
	display: flex;
}
.cart-cont-btns h3{
	margin-right: 5%;
	margin-top: 3%;
	border: 3px solid black;
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
}
.cart-btns{
	display: flex;
	justify-content: space-evenly;
	position: absolute;
	bottom: 11%;
	width: 50%;
	text-align: center;
/*	border: 2px solid red;*/
}
.cart-btns h3{
	margin-right: 5%;
	margin-top: 3%;
	border: 3px solid black;
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
}